@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    Box-sizing: border-box
}


body {
    font-family: "Pixelify Sans", sans-serif;
}


footer{
    background-color: green;
}

footer img {
    width: 30px;
    height: auto;
}

table img {
    width: 200px;
    height: auto;
}

header {
    background-color: greenyellow;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
